@using ObjectLibrary.BusinessObjects
@using DataJuggler.Blazor.Components

@if (ShowWelcomeMessage)
{
    <div class="welcome"></div>
}
else
{
    <div class="gallery">
        <div class="gallerytitle">
            @if (HasGalleryTitle)
            {  
                @GalleryTitle  
            }
        </div>
        @if (HasMessage)
        {
            <div class="message">
                @Message
            </div>
        }
        @if  (HasSelectedArtist)
        {
            <div class="height32">
                @if (IsArtistGalleryOwner)
                {  
                    <div class="uploadcontrol">                
                        <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
                            ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true" 
                            ShowCustomButton="true" ButtonText="Upload" CustomButtonClassName="localbutton" 
                            AllowedExtensions=".jpg;.png;" ShowResetButton="true" ResetButtonClassName="localbutton"
                            OnReset="OnReset" ResetButtonText="New" UploadFolder="@GalleryUploadPath"
                            CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"                
                            InputFileClassName="customfileupload" FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
                        </FileUpload>
                    </div>     
                    <span class="uploadcontrolmessage">Upload Images</span>
                }
            </div>            
            <div class="galleryimages">
                @if (SelectedArtist.HasImages)
                {
                    <div class="inlineblock">
                        @foreach (Image image in SelectedArtist.Images)
                        {
                            <Sprite Scale=".1" Height="@image.Height" Width="@image.Width"
                                ImageUrl="@image.ImageUrl">
                            </Sprite>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

