@if (ShowWelcomeMessage)
{
    <div class="welcome"></div>
}
else
{
    <div class="gallery">
        <div class="gallerytitle">
            @if (HasGalleryTitle)
            {  
                @GalleryTitle  
            }
        </div>
        @if (HasMessage)
        {
            <div class="message">
                @Message
            </div>
        }
        @if (IsArtistGalleryOwner)
        {
            <span class="text-white">Upload Images</span>
            <div class="moveleft16">                
                <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
                    ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true" 
                    ShowCustomButton="true" ButtonText="Upload" CustomButtonClassName="localbutton" 
                    AllowedExtensions=".jpg;.png;" ShowResetButton="true" ResetButtonClassName="localbutton"
                    OnReset="OnReset" ResetButtonText="New" UploadFolder="wwwroot/images/artists"
                    CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"                
                    InputFileClassName="customfileupload" FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
                </FileUpload>
            </div>     
        }
    </div>
}

