@using DataJuggler.UltimateHelper.Core
@using ObjectLibrary.BusinessObjects
@using DataJuggler.Blazor.FileUpload
@using DataJuggler.Blazor.Components
@using BlazorStyled
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@using BlazorImageGallery.Components
@inject ProtectedLocalStorage ProtectedLocalStore

@if (TextHelper.Exists(message))
{
    <div class="text-white">@message</div>
}

@if (!HasArtist)
{
    @if (NoAction)
    {
        <button class="button" @onclick="SetActionNewUserSignUp">Sign Up</button>
        <button class="button moveleft48" @onclick="SetActionLoginExistingUser">Login</button>
    }
    else
    {
        @if (this.Action == "NewUserSignUp")
        {
            <SignUp Parent="this"></SignUp>
        }
        else if (this.Action == "LoginExistingUser")
        {
            <div class="centerform2">
                Email Address<br />
                <input class="marginbottom8" type="text" @bind="EmailAddress" />
                <br />
                Password<br />
                <input class="marginbottom8" type="password" @bind="Password" />
                <br />
                Remember
                <input class="movedown4 moveright4" type="checkbox" @bind="RememberLogin" />
                <br />
                <button class="button" @onclick="HandleLogin">Login</button>
                <button class="button moveleft48" @onclick="Cancel">Cancel</button>
                <div class="progresscontainer2">
                        <ProgressBar ShowBackground="true" BackgroundColor="#02075d" Subscriber=this Increment="30" 
                        Interval="500" BubbleScale=".4" BackgroundWidth="272" BackgroundHeight="60" 
                        BubbleOffSet="16" Theme="DataJuggler.Blazor.Components.Enumerations.ThemeEnum.Squares">
                    </ProgressBar>
                </div>
            </div>            
        }
    }
}
else
{
    <div class="text-white">        
        <span class="text-right moveleft48 moveup4">Welcome, @Artist.Name</span>
        <button class="gearicon " @onclick="ToggleProfileMenu"></button>
        <button class="button " @onclick="SignOut">Sign Out</button>
    </div>
}