@using DataJuggler.UltimateHelper.Core
@using ObjectLibrary.BusinessObjects
@using DataJuggler.Blazor.FileUpload
@using DataJuggler.Blazor.Components
@using BlazorStyled
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@using BlazorImageGallery.Components
@inject ProtectedLocalStorage ProtectedLocalStore

@if (TextHelper.Exists(message))
{
    <div class="text-white textright">@message</div>
}

@if (!HasArtist)
{
    @if (NoAction)
    {     
        <div class="justifyright">
            <button class="localbutton" @onclick="SetActionNewUserSignUp">Sign Up</button>
            <button class="localbutton moveleft48" @onclick="SetActionLoginExistingUser">Login</button>
        </div>
    }
    else
    {
        @if (this.Action == "NewUserSignUp")
        {
            <SignUp Parent="this"></SignUp>
        }
        else if (this.Action == "LoginExistingUser")
        {
            <div class="centerform2">
                Email Address<br />
                <input class="marginbottom8" type="text" @bind="EmailAddress" />
                <br />
                Password<br />
                <input class="marginbottom8" type="password" @bind="Password" />
                <br />
                Remember
                <input class="movedown4 moveright4" type="checkbox" @bind="RememberLogin" />
                <br />
                <div class="moveleft16 movedown16">
                    <button class="localbutton" @onclick="HandleLogin">Login</button>
                    <button class="localbutton moveleft48" @onclick="Cancel">Cancel</button>
                </div>
                <div class="progresscontainer2">
                        <ProgressBar ShowBackground="true" BackgroundColor="#02075d" 
                        Increment="30" BackgroundImageUrl="" Subscriber=this BubbleOffSet="16"
                        Interval="500" BubbleScale=".4" BackgroundWidth="240" BackgroundHeight="60" 
                        Theme="DataJuggler.Blazor.Components.Enumerations.ThemeEnum.Squares">
                    </ProgressBar>
                </div>
            </div>            
        }
    }
}
else
{
    <div class="loggedinuser">
        <span class="welcomemessage">Welcome, @Artist.Name</span>
        <button class="gearicon" @onclick="ToggleProfileMenu"></button>
        <button class="localbuttonbuttonmedium absoluterightneg64 absolutetopneg16" @onclick="SignOut">Sign Out</button>        
    </div>
}