@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.artistlistpagenumber
{
    position: fixed;
    top: 88%;
    left: 2%;
    color: whitesmoke;
    font-weight: normal;
    font-family: Arial;
    font-size: 14px;
}
.button 
{
    display: inline-block;
    margin-right: -8px;
    margin-left: 0px;
    margin-top: -8px;
    border: none;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    width: 120px;
    height: 48px;
    background-image: url('../images/buttons/blackbutton.jpg');
    transform: scale(0.5);
    transform-origin: left;    
}
.buttonwide
{
    display: inline-block;
    margin-right: -16px;
    margin-left: 0px;
    margin-top: -8px;
    border: none;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    width: 160px;
    height: 48px;
    background-image: url('../images/buttons/BlackButtonWide.jpg');  
    transform: scale(0.5);
    transform-origin: left;    
}
.clear
{
    clear: both;
}
.centerform
{
    position: fixed;
    left: 20%;
    top: 25%;
    height: 50%;
    width: 60%;
    font-family: Verdana;
    font-weight: 500;
    color: black;
}
.centerform2
{
    position: fixed;
    left: 35%;
    top: 35%;
    height: 50%;
    width: 60%;
    font-family: Verdana;
    font-weight: 500;
    color: black;
}
.customfileupload
{  
    display: inline-block;
    cursor: pointer;
    height:48px;
    min-height: 48px;
    visibility: hidden;
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
}
.hiddenfileupload
{
    display: none;
    visibility: hidden;
}
.colorred
{
    color: red;
}
.developedbyme
{
    font-family: Verdana;
    font-size: 10px;
    position: fixed;
    left: 54%;
    width: 36%;
    bottom: 12px;
    color: darkgray;
}
.fontarial48
{
    font-family: Arial;
    font-size: 48px;
    color: White;
    text-align: Center;
}
.footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 180px;
}
.fontsize12
{
    font-family: Verdana;
    font-size: 12px;
}
.fontsize14
{
    font-family: Verdana;
    font-size: 14px;
}
.gearicon 
{
    background-color: transparent;
    border: none;
    position: fixed;
    left: 90.0%;
    top: 1%;
    width: 64px;
    height: 64px;
    margin-left: 8px;
    background-image: url('../images/buttons/ArtIcon.png');
    background-repeat: no-repeat;
    transform: scale(0.5);
    transform-origin: left;    
}
.height48
{
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    text-align: center;
    vertical-align: central;
}
.height80
{
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    text-align: center;
    vertical-align: central;
}
.linknounderline
{
    text-decoration: none;
}
.logincontrol 
{
    position: relative;
    left: 88%;
    top: 8px;
    color: white;
}
.marginbottom8
{
    margin-bottom: 8px;
}
.marginright8
{
    margin-right: 8px;
}
.margintop8
{
    margin-top: 8px;
}
.margintopnegative8
{
    margin-top: -8px;
}
.margintopnegative16
{
    margin-top: -16px;
}
.margintopnegative32
{
    margin-top: -32px;
}
.margintopnegative64
{
    margin-top: -64px;
}
.movedown4
{
    position: relative;
    top: 4px;
}
.movedown8
{
    position: relative;
    top: 8px;
}
.movedown16
{
    position: relative;
    top: 16px;
}
.movedown64
{
    position: relative;
    top: 64px;
}
.moveleft48
{
    position: relative;
    left: -48px;
}
.moveleft72
{
    position: relative;
    left: -72px;
}
.moveleft96
{
    position: relative;
    left: -96px;
}
.moveleft108
{
    position: relative;
    left: -108px;
}
.moveleft120
{
    position: relative;
    left: -120px;
}
.moveright4 
{
    position: relative;
    left: 4px;
}
.moveright32
{
    position: relative;
    left: 32px;
}
.moveup4
{
    position: relative;
    top: -4px;
}
.moveup16
{
    position: relative;
    top: -16px;
}
.moveup32
{
    position: relative;
    top: -32px;
}
.moveup128
{
    position: relative;
    top: -128px;
}
.moveup160
{
    position: relative;
    top: -160px;
}
.nodisplay
{
    display: none;
}
.profilepicture
{
    position: relative;
    top: 8px;
}
.profilepicturecontainer
{
    height: 128px;
    width: 128px;
    position: fixed;
    left: 35.6%;
    top: 35.6%;
}
.progresscontainer
{
    position: fixed;
    left: 34%;
    top: 64%;
}
.progresscontainer2
{
    position: fixed;
    left: 34%;
    top: 60%;
}
.right12percent
{
    position: relative;
    left: 12%;
}
.centerforminputfile
{  
    cursor: pointer;
}
.signupmessage
{
    position: fixed;
    top: 80%;
    left: 20%;
    color: orange;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button 
{ /* chromes and blink button */
    cursor: pointer;
    display: none;
}

body 
{
    background-image: url('../images/ArtGallery.jpg');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: darkgray;
    overflow: hidden;
}

html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
